@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
}

header > h1 {
    
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #res {
    width: 54%;
    height: 50px;
    border: 1px solid gray;
}

main table {
    
}

main table tbody {
    
}

main table tbody tr {
    
}

main table tbody tr td {
    border: 1px solid black;
    width: 80px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer {}

footer p {}